*
{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.quiz-container
{
    width: 60%;
    height: 500px;
    margin: 5% auto;
    text-align: center;
}

.headings
{
    display: flex;
    padding: 20px 20px 0px 20px;
    justify-content: space-between;
    color: black;
    border-bottom: 2px solid rgb(186, 186, 186);
    padding-bottom: 20px;
}

.headings h2
{
    font-family: "Baumans", system-ui;
    font-weight: 600;
    font-style: normal;
    font-size: 22px;
    /* border-bottom: 2px solid white; */
}

.main
{
    height: 300px;
    margin: 20px 0px;
}

#next-que
{
    height: 40px;
    width: 140px;
    background-color: rgb(39, 39, 90);
    color: white;
    font-size: medium;
    border: none;
    border-radius: 10px;
}