*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Allura&family=Alumni+Sans+Pinstripe:ital@0;1&family=Atma:wght@300;400;500;600;700&family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Baumans&family=Bebas+Neue&family=Cabin+Condensed:wght@400;500;600;700&family=Chelsea+Market&family=Cinzel:wght@400..900&family=Cookie&family=Diphylleia&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Encode+Sans+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Ephesis&family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fjalla+One&family=Goudy+Bookletter+1911&family=Gudea:ital,wght@0,400;0,700;1,400&family=Hedvig+Letters+Sans&family=Hind+Siliguri:wght@300;400;500;600;700&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Jolly+Lodger&family=Knewave&family=Lexend:wght@100..900&family=Major+Mono+Display&family=Mohave:ital,wght@0,300..700;1,300..700&family=MonteCarlo&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Outfit:wght@100..900&family=Parkinsans:wght@300..800&family=Pinyon+Script&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poiret+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quintessential&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rochester&family=Rubik+Bubbles&family=Rubik+Glitch&family=Viaoda+Libre&family=Waterfall&family=Whisper&display=swap');


body {
    background: white;
    color: black;
}

.app-container {
    width: 100%;
    margin: 20px auto;
    border-radius: 20px;
    padding: 30px;
    text-align: center;
}
.heading{
    height: 70px;
    width: 100%;
    background: radial-gradient(circle, #1b4332 30%, #95d5b2 100%);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 10px;
}

.heading h1 {
    color: white;
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 40px;
    font-style: normal;
}

.allProducts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

.product {
    background: rgba(255, 255, 255, 0.4);
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.product img {
    width: 100%;
    height: 200px;
    border-radius: 20px;   
    object-fit: cover;
}

.product h2 {
    margin: 15px 0 15px 0;
    color: #1b4332;
    font-size: 18px;
}

.product p {
    color: #081c15;
    font-size: 18px;
    margin-bottom: 15px;
}

.add-btn {
    background-color: #2d6a4f;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.add-btn:hover {
    background-color: #40916c;
}

.cart {
    margin-top: 50px;
    text-align: left;
}

.cart h3 {
    color: #1b4332;
    margin-bottom: 10px;
}

#cartItems {
    list-style: none;
    padding: 0;
}

#cartItems li {
    background: rgba(255, 255, 255, 0.3);
    margin: 8px 0;
    padding: 10px 15px;
    border-radius: 12px;
    color: #081c15;
}
